body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.politica {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.politica h1,
.politica h2 {
  color: #222;
  text-align: center;
}

.politica p {
  line-height: 1.6;
  font-size: 16px;
  text-align: justify;
}

.btn-2 {
  background-color: #a23d44;
  color: #ffffff;
  padding: 1px 25px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilos para el formulario de checkout */
.checkout-form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.checkout-form h1 {
  font-size: 2rem;
  color: #111419;
  text-align: center;
  margin-bottom: 20px;
}

.checkout-form .input-group {
  margin-bottom: 15px;
}

.checkout-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #757371;
}

.checkout-form input,
.checkout-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.checkout-form textarea {
  height: 100px;
  resize: vertical;
}

/* Estilos para los campos de dirección */
.checkout-form .address-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.checkout-form .address-group input {
  width: 100%;
  margin-bottom: 10px;
}

.checkout-form .btn-1 {
  display: block;
  margin: 20px auto 0;
  width: 200px;
  text-align: center;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .checkout-form {
    margin: 30px 10px;
    padding: 15px;
  }

  .checkout-form .address-group {
    grid-template-columns: 1fr; /* Apila los campos en una sola columna en pantallas pequeñas */
  }

  .checkout-form h1 {
    font-size: 1.5rem;
  }

  .checkout-form .btn-1 {
    width: 150px;
  }
}
